In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import operator

In [2]:
!pwd

/Users/Sabrina/Documents/OneDrive/Github/crop-trends/notebooks

In [3]:
# Data import 
trade = pd.read_csv('/Users/Sabrina/Documents/OneDrive/Github/crop-trends/data/raw/Trade_DetailedTradeMatrix_E_Oceania/Trade_DetailedTradeMatrix_E_Oceania.csv',
                   encoding='latin1')

/Users/Sabrina/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,54,56,58,62,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
trade.shape

(181866, 73)

In [5]:
trade.head()

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Unit,Y1986,...,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F
0,10,Australia,2,Afghanistan,231,Almonds shelled,5610,Import Quantity,tonnes,NaN,...,2.0,*,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
1,10,Australia,2,Afghanistan,231,Almonds shelled,5622,Import Value,1000 US$,NaN,...,11.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,9.0,NaN
2,10,Australia,2,Afghanistan,711,"Anise, badian, fennel, coriander",5610,Import Quantity,tonnes,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Im
3,10,Australia,2,Afghanistan,711,"Anise, badian, fennel, coriander",5622,Import Value,1000 US$,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN
4,10,Australia,2,Afghanistan,515,Apples,5910,Export Quantity,tonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
len(trade.Item.unique())

388

In [7]:
len(trade['Reporter Countries'].unique())

12

In [8]:
len(trade['Partner Countries'].unique())

251

In [9]:
trade['Reporter Countries'].unique()

array(['Australia', 'Cook Islands', 'Fiji', 'French Polynesia',
       'Kiribati', 'New Caledonia', 'New Zealand', 'Papua New Guinea',
       'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu'], dtype=object)

In [10]:
trade.Item.unique()

array(['Almonds shelled', 'Anise, badian, fennel, coriander', 'Apples',
       'Apricots, dry', 'Asses', 'Bacon and ham', 'Beer of barley',
       'Beverages, distilled alcoholic', 'Beverages, non alcoholic',
       'Butter, cow milk', 'Cabbages and other brassicas',
       'Cheese, whole cow milk', 'Chick peas', 'Chocolate products nes',
       'Cider etc', 'Cigarettes', 'Crude materials', 'Figs dried',
       'Flour, wheat', 'Food prep nes', 'Fruit, dried nes',
       'Fruit, prepared nes', 'Grapes', 'Infant food',
       'Juice, apple, single strength', 'Juice, fruit nes',
       'Juice, grape', 'Juice, grapefruit',
       'Juice, orange, single strength', 'Meal, meat',
       'Meat, cattle, boneless (beef & veal)', 'Meat, chicken',
       'Meat, goat', 'Meat, pig', 'Meat, pig sausages', 'Meat, pork',
       'Meat, sheep', 'Milk, skimmed dried', 'Milk, whole dried',
       'Nuts nes', 'Nuts, prepared (exc. groundnuts)',
       'Offals, edible, cattle', 'Oilseeds nes', 'Pastry', 'Peas, dry',
       'Pet food', 'Plums and sloes', 'Plums dried (prunes)', 'Raisins',
       'Spices nes', 'Sugar confectionery', 'Tallow', 'Tea', 'Tomatoes',
       'Vegetables, fresh nes', 'Vegetables, fresh or dried products nes',
       'Vegetables, preserved nes', 'Wheat', 'Whey, dry', 'Wine',
       'Yoghurt, concentrated or not', 'Cocoa, beans', 'Coffee, roasted',
       'Fat nes, prepared', 'Hides, cattle, wet salted',
       'Margarine, short', 'Meat nes', 'Meat, beef, preparations',
       'Meat, cattle', 'Offals, sheep,edible', 'Oil, essential nes',
       'Oil, olive, virgin', 'Skins, sheep, with wool',
       'Sugar Raw Centrifugal', 'Sugar refined', 'Vegetables in vinegar',
       'Vegetables, dehydrated', 'Wool, degreased', 'Wool, hair waste',
       'Alfalfa meal and pellets', 'Broad beans, horse beans, dry',
       'Cattle', 'Dates', 'Lactose', 'Lentils', 'Oats',
       'Rice - total  (Rice milled equivalent)', 'Rice, husked', 'Sheep',
       'Wool, greasy', 'Barley, pearled', 'Beans, dry', 'Bread',
       'Buttermilk, curdled, acidified milk', 'Cake, copra',
       'Carrots and turnips', 'Cereal preparations nes',
       'Cereals, breakfast', 'Chickens', 'Coconuts',
       'Coconuts, desiccated', 'Coffee, extracts', 'Cream fresh',
       'Eggs, hen, in shell', 'Eggs, liquid', 'Fatty acids',
       'Feed and meal, gluten', 'Feed supplements', 'Feed, compound nes',
       'Flour, potatoes', 'Food preparations, flour, malt extract',
       'Fruit, cooked, homogenized preparations', 'Fruit, fresh nes',
       'Garlic', 'Honey, natural', 'Ice cream and edible ice',
       'Juice, apple, concentrated', 'Juice, lemon, single strength',
       'Juice, orange, concentrated', 'Juice, pineapple',
       'Juice, pineapple, concentrated', 'Juice, tomato',
       'Lettuce and chicory', 'Macaroni', 'Maize', 'Malt',
       'Meat, pig, preparations', 'Melons, other (inc.cantaloupes)',
       'Milk, products of natural constituents nes', 'Milk, skimmed cow',
       'Milk, whole condensed', 'Milk, whole evaporated',
       'Milk, whole fresh cow', 'Mixes and doughs', 'Oats rolled',
       'Offals, pigs, edible', 'Oil, coconut (copra)', 'Oil, cottonseed',
       'Oranges', 'Pears', 'Potatoes', 'Potatoes, frozen',
       'Roots and tubers nes', 'Skins, calve, wet salted', 'Soya sauce',
       'Sweet potatoes', 'Tangerines, mandarins, clementines, satsumas',
       'Tobacco products nes', 'Vegetables, frozen',
       'Vermouths & similar', 'Wafers', 'Waters,ice etc',
       'Pepper (piper spp.)', 'Pineapples canned', 'Tomatoes, paste',
       'Tomatoes, peeled', 'Juice, citrus, concentrated',
       'Oil, sunflower', 'Olives preserved', 'Almonds, with shell',
       'Animals live nes', 'Animals, live, non-food', 'Asparagus',
       'Cake, soybeans', 'Cocoa, powder & cake', 'Cottonseed',
       'Flour, maize', 'Flour, mustard', 'Flour, pulses',
       'Fructose and syrup, other', 'Glucose and dextrose', 'Goats',
       'Grease incl. lanolin wool', 'Groundnuts, prepared',
       'Groundnuts, shelled', 'Hair, fine', 'Hay (clover, lucerne,etc)',
       'Hides nes', 'Horses', 'Juice, citrus, single strength',
       'Juice, grapefruit, concentrated', 'Juice, lemon, concentrated',
       'Linseed', 'MatÃ©', 'Millet', 'Mustard seed', 'Oil, boiled etc',
       'Oil, groundnut', 'Oil, linseed', 'Oil, maize',
       'Oil, olive residues', 'Oil, rapeseed', 'Oil, soybean',
       'Oil, vegetable origin nes', 'Onions, dry', 'Rapeseed',
       'Rice, milled', 'Sesame seed', 'Sorghum', 'Sugar nes',
       'Sunflower seed', 'Tea, mate extracts', 'Tobacco, unmanufactured',
       'Vegetables, homogenized preparations',
       'Vegetables, temporarily preserved', 'Coffee, green', 'Soybeans',
       'Avocados', 'Bananas', 'Barley', 'Beans, green', 'Beeswax',
       'Bran, wheat', 'Buckwheat', 'Bulgur', 'Cake, cottonseed',
       'Cake, palm kernel', 'Cake, rapeseed', 'Cake, sunflower',
       'Canary seed', 'Cashew nuts, shelled', 'Cassava dried',
       'Cauliflowers and broccoli', 'Cheese, processed', 'Cherries',
       'Chestnut', 'Chillies and peppers, green', 'Cigars, cheroots',
       'Cinnamon (cannella)', 'Cloves', 'Cocoa, butter',
       'Coffee, substitutes containing coffee', 'Coir', 'Copra',
       'Cotton lint', 'Cotton waste', 'Eggplants (aubergines)',
       'Eggs, dried', 'Eggs, other bird, in shell', 'Fat, cattle',
       'Fat, pigs', 'Feed, vegetable products nes', 'Flour, cereals',
       'Flour, rice', 'Forage products', 'Fruit, tropical fresh nes',
       'Ginger', 'Grapefruit (inc. pomelos)', 'Hazelnuts, shelled',
       'Hops', 'Kiwi fruit', 'Lard', 'Lemons and limes',
       'Maple sugar and syrups', 'Meat, chicken, canned',
       'Meat, dried nes', 'Meat, duck', 'Meat, game', 'Meat, horse',
       'Meat, rabbit', 'Meat, turkey', 'Molasses',
       'Mushrooms and truffles', 'Mushrooms, canned',
       'Nutmeg, mace and cardamoms', 'Offals, liver duck',
       'Offals, liver geese', 'Oil, castor beans', 'Oil, palm',
       'Oil, palm kernel', 'Oil, sesame', 'Oils, fats of animal nes',
       'Papayas', 'Peaches and nectarines', 'Peas, green', 'Persimmons',
       'Pineapples', 'Pistachios', 'Poppy seed', 'Pyrethrum, extraction',
       'Rice, broken', 'Rubber natural dry', 'Rubber, natural',
       'Skins, sheep, dry salted', 'Straw husks', 'Strawberries',
       'Sweet corn frozen', 'Sweet corn prep or preserved', 'Vanilla',
       'Vegetables, preserved, frozen', 'Walnuts, shelled',
       'Walnuts, with shell', 'Watermelons', 'Waxes vegetable',
       'Apricots', 'Bran, maize', 'Brazil nuts, shelled',
       'Chillies and peppers, dry', 'Jute',
       'Mangoes, mangosteens, guavas', 'Silk-worm cocoons, reelable',
       'Vegetables, canned nes', 'Artichokes', 'Cherries, sour',
       'Cucumbers and gherkins', 'Hay (unspecified)',
       'Leeks, other alliaceous vegetables', 'Mules',
       'Pumpkins, squash and gourds', 'Quinces', 'Quinoa', 'Spinach',
       'Areca nuts', 'Cotton linter', 'Cotton, carded, combed',
       'Beet pulp', 'Cocoa, paste', 'Currants', 'Flax fibre and tow',
       'Flax fibre raw', 'Flax tow waste', 'Fatty substance residues',
       'Hazelnuts, with shell', 'Flour, roots and tubers nes',
       'Germ, maize', 'Cashew nuts, with shell',
       'Coffee, husks and skins', 'Starch, cassava', 'Sugar beet',
       'Buffaloes', 'Fibre crops nes', 'Peanut butter', 'Beehives',
       'Food wastes', 'Oil, citronella', 'Oil, safflower',
       'Pigeons, other birds', 'Pigs', 'Rye', 'Silk, raw',
       'Cake, groundnuts', 'Cake, linseed', 'Cocoons, unreelable & waste',
       'Dregs from brewing, distillation', 'Kola nuts',
       'Offals, liver chicken', 'Olives', 'Cake, maize', 'Camels',
       'Manila fibre (abaca)', 'Triticale', 'Turkeys',
       'Plantains and others', 'Fonio', 'Meat, goose and guinea fowl',
       'Skins, sheep, wet salted', 'Hides, horse, dry salted',
       'Gooseberries', 'Bambara beans', 'Pyrethrum, dried',
       'Sugar crops nes', 'Flour, mixed grain', 'Blueberries', 'Figs',
       'Grain, mixed', 'Onions, shallots, green', 'Cake, rice bran',
       'Bran, sorghum', 'Flour, cassava',
       'Fat, liver prepared (foie gras)', 'Ducks', 'Yoghurt',
       'Maize, green', 'Whey, condensed', 'Beverages, fermented rice',
       'Margarine, liquid', 'Potato offals',
       'Meat, beef and veal sausages', 'Karite nuts (sheanuts)',
       'Rodents, other', 'Camelids, other', 'Hair, goat, coarse',
       'Rabbits and hares', 'Feed minerals', 'Hides, buffalo, wet salted',
       'Skins, goat, wet salted', 'Vegetables, dried nes', 'Cranberries'],
      dtype=object)

In [14]:
trade.columns

Index(['Reporter Country Code', 'Reporter Countries', 'Partner Country Code',
       'Partner Countries', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y1986', 'Y1986F', 'Y1987', 'Y1987F', 'Y1988', 'Y1988F',
       'Y1989', 'Y1989F', 'Y1990', 'Y1990F', 'Y1991', 'Y1991F', 'Y1992',
       'Y1992F', 'Y1993', 'Y1993F', 'Y1994', 'Y1994F', 'Y1995', 'Y1995F',
       'Y1996', 'Y1996F', 'Y1997', 'Y1997F', 'Y1998', 'Y1998F', 'Y1999',
       'Y1999F', 'Y2000', 'Y2000F', 'Y2001', 'Y2001F', 'Y2002', 'Y2002F',
       'Y2003', 'Y2003F', 'Y2004', 'Y2004F', 'Y2005', 'Y2005F', 'Y2006',
       'Y2006F', 'Y2007', 'Y2007F', 'Y2008', 'Y2008F', 'Y2009', 'Y2009F',
       'Y2010', 'Y2010F', 'Y2011', 'Y2011F', 'Y2012', 'Y2012F', 'Y2013',
       'Y2013F', 'Y2014', 'Y2014F', 'Y2015', 'Y2015F', 'Y2016', 'Y2016F',
       'Y2017', 'Y2017F'],
      dtype='object')

In [83]:
items_by_country = trade.groupby(['Reporter Countries','Item','Unit']).sum()

In [84]:
items_by_country.shape

(7691, 36)

In [85]:
items_by_country.columns

Index(['Reporter Country Code', 'Partner Country Code', 'Item Code',
       'Element Code', 'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991',
       'Y1992', 'Y1993', 'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999',
       'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007',
       'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015',
       'Y2016', 'Y2017'],
      dtype='object')

In [86]:
items_by_country.head(10)

                                                              Reporter Country Code  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$                    740
                                                    tonnes                      740
                   Almonds shelled                  1000 US$                   1090
                                                    tonnes                     1090
                   Almonds, with shell              1000 US$                    700
                                                    tonnes                      700
                   Animals live nes                 1000 US$                    890
                                                    Head                        890
                   Animals, live, non-food          1000 US$                   1280
                   Anise, badian, fennel, coriander 1000 US$                   1240

                                                              Partner Country Code  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$                  9697
                                                    tonnes                    9697
                   Almonds shelled                  1000 US$                 14394
                                                    tonnes                   14394
                   Almonds, with shell              1000 US$                  9756
                                                    tonnes                    9756
                   Animals live nes                 1000 US$                 12145
                                                    Head                     12145
                   Animals, live, non-food          1000 US$                 16508
                   Anise, badian, fennel, coriander 1000 US$                 16380

                                                              Item Code  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$      63788
                                                    tonnes        63788
                   Almonds shelled                  1000 US$      25179
                                                    tonnes        25179
                   Almonds, with shell              1000 US$      15470
                                                    tonnes        15470
                   Animals live nes                 1000 US$     104219
                                                    Head         104219
                   Animals, live, non-food          1000 US$     149632
                   Anise, badian, fennel, coriander 1000 US$      88164

                                                              Element Code  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$        435828
                                                    tonnes          434940
                   Almonds shelled                  1000 US$        634398
                                                    tonnes          633090
                   Almonds, with shell              1000 US$        409440
                                                    tonnes          408600
                   Animals live nes                 1000 US$        522558
                                                    Head            521312
                   Animals, live, non-food          1000 US$        746916
                   Anise, badian, fennel, coriander 1000 US$        715128

                                                               Y1986   Y1987  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$     0.0     0.0
                                                    tonnes       0.0     0.0
                   Almonds shelled                  1000 US$  5739.0  3757.0
                                                    tonnes    2013.0   839.0
                   Almonds, with shell              1000 US$   358.0     0.0
                                                    tonnes     105.0     0.0
                   Animals live nes                 1000 US$   310.0   210.0
                                                    Head         0.0     0.0
                   Animals, live, non-food          1000 US$     0.0     0.0
                   Anise, badian, fennel, coriander 1000 US$   239.0   425.0

                                                                 Y1988  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$   43495.0
                                                    tonnes    299547.0
                   Almonds shelled                  1000 US$    4001.0
                                                    tonnes      1137.0
                   Almonds, with shell              1000 US$     248.0
                                                    tonnes       119.0
                   Animals live nes                 1000 US$       0.0
                                                    Head           0.0
                   Animals, live, non-food          1000 US$    2589.0
                   Anise, badian, fennel, coriander 1000 US$    2136.0

                                                                Y1989  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$   5422.0
                                                    tonnes    36202.0
                   Almonds shelled                  1000 US$   6708.0
                                                    tonnes     1907.0
                   Almonds, with shell              1000 US$    198.0
                                                    tonnes       86.0
                   Animals live nes                 1000 US$      0.0
                                                    Head          0.0
                   Animals, live, non-food          1000 US$   6765.0
                   Anise, badian, fennel, coriander 1000 US$   1330.0

                                                                Y1990  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$   9525.0
                                                    tonnes    62037.0
                   Almonds shelled                  1000 US$   8865.0
                                                    tonnes     2692.0
                   Almonds, with shell              1000 US$    201.0
                                                    tonnes      113.0
                   Animals live nes                 1000 US$      0.0
                                                    Head          0.0
                   Animals, live, non-food          1000 US$  11505.0
                   Anise, badian, fennel, coriander 1000 US$   1068.0

                                                                Y1991  ...  \
Reporter Countries Item                             Unit               ...
Australia          Alfalfa meal and pellets         1000 US$  14192.0  ...
                                                    tonnes    82828.0  ...
                   Almonds shelled                  1000 US$   7228.0  ...
                                                    tonnes     2163.0  ...
                   Almonds, with shell              1000 US$    237.0  ...
                                                    tonnes      108.0  ...
                   Animals live nes                 1000 US$      0.0  ...
                                                    Head          0.0  ...
                   Animals, live, non-food          1000 US$      0.0  ...
                   Anise, badian, fennel, coriander 1000 US$   1533.0  ...

                                                                 Y2008  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$   33200.0
                                                    tonnes    120320.0
                   Almonds shelled                  1000 US$   46337.0
                                                    tonnes     10198.0
                   Almonds, with shell              1000 US$   29528.0
                                                    tonnes      8940.0
                   Animals live nes                 1000 US$    8762.0
                                                    Head      125816.0
                   Animals, live, non-food          1000 US$     209.0
                   Anise, badian, fennel, coriander 1000 US$    4304.0

                                                                 Y2009  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$   26353.0
                                                    tonnes    112295.0
                   Almonds shelled                  1000 US$   57959.0
                                                    tonnes     14718.0
                   Almonds, with shell              1000 US$   43555.0
                                                    tonnes     15294.0
                   Animals live nes                 1000 US$    7640.0
                                                    Head       93915.0
                   Animals, live, non-food          1000 US$      59.0
                   Anise, badian, fennel, coriander 1000 US$    4067.0

                                                                 Y2010  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$   32278.0
                                                    tonnes    118205.0
                   Almonds shelled                  1000 US$   91621.0
                                                    tonnes     17525.0
                   Almonds, with shell              1000 US$   27394.0
                                                    tonnes      5914.0
                   Animals live nes                 1000 US$    7764.0
                                                    Head       94669.0
                   Animals, live, non-food          1000 US$     106.0
                   Anise, badian, fennel, coriander 1000 US$    4432.0

                                                                Y2011  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$  25326.0
                                                    tonnes    86004.0
                   Almonds shelled                  1000 US$  81914.0
                                                    tonnes    17533.0
                   Almonds, with shell              1000 US$  42187.0
                                                    tonnes    10822.0
                   Animals live nes                 1000 US$      0.0
                                                    Head          0.0
                   Animals, live, non-food          1000 US$   4550.0
                   Anise, badian, fennel, coriander 1000 US$   4801.0

                                                                 Y2012  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$   24106.0
                                                    tonnes     77035.0
                   Almonds shelled                  1000 US$  110531.0
                                                    tonnes     22648.0
                   Almonds, with shell              1000 US$   59726.0
                                                    tonnes     14493.0
                   Animals live nes                 1000 US$      24.0
                                                    Head         315.0
                   Animals, live, non-food          1000 US$    4268.0
                   Anise, badian, fennel, coriander 1000 US$    5940.0

                                                                 Y2013  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$   23972.0
                                                    tonnes     73651.0
                   Almonds shelled                  1000 US$  239393.0
                                                    tonnes     34807.0
                   Almonds, with shell              1000 US$  111591.0
                                                    tonnes     21632.0
                   Animals live nes                 1000 US$       0.0
                                                    Head           2.0
                   Animals, live, non-food          1000 US$    3008.0
                   Anise, badian, fennel, coriander 1000 US$    6331.0

                                                                 Y2014  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$   38492.0
                                                    tonnes     97313.0
                   Almonds shelled                  1000 US$  307820.0
                                                    tonnes     41593.0
                   Almonds, with shell              1000 US$  102069.0
                                                    tonnes     18362.0
                   Animals live nes                 1000 US$       0.0
                                                    Head           0.0
                   Animals, live, non-food          1000 US$    2928.0
                   Anise, badian, fennel, coriander 1000 US$    6661.0

                                                                 Y2015  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$   27426.0
                                                    tonnes     84705.0
                   Almonds shelled                  1000 US$  418806.0
                                                    tonnes     46702.0
                   Almonds, with shell              1000 US$  160022.0
                                                    tonnes     24094.0
                   Animals live nes                 1000 US$       2.0
                                                    Head           0.0
                   Animals, live, non-food          1000 US$    3749.0
                   Anise, badian, fennel, coriander 1000 US$    7692.0

                                                                 Y2016  \
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$   26865.0
                                                    tonnes     81104.0
                   Almonds shelled                  1000 US$  263001.0
                                                    tonnes     43450.0
                   Almonds, with shell              1000 US$   97891.0
                                                    tonnes     23882.0
                   Animals live nes                 1000 US$       0.0
                                                    Head           0.0
                   Animals, live, non-food          1000 US$    2319.0
                   Anise, badian, fennel, coriander 1000 US$    6604.0

                                                                 Y2017
Reporter Countries Item                             Unit
Australia          Alfalfa meal and pellets         1000 US$   20761.0
                                                    tonnes     87819.0
                   Almonds shelled                  1000 US$  219906.0
                                                    tonnes     38245.0
                   Almonds, with shell              1000 US$  139039.0
                                                    tonnes     30145.0
                   Animals live nes                 1000 US$       0.0
                                                    Head           0.0
                   Animals, live, non-food          1000 US$    3310.0
                   Anise, badian, fennel, coriander 1000 US$    7928.0

[10 rows x 36 columns]

In [87]:
items_by_country = items_by_country.reset_index()

In [88]:
items_by_country.head()

,Reporter Countries,Item,Unit,Reporter Country Code,Partner Country Code,Item Code,Element Code,Y1986,Y1987,Y1988,...,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017
0,Australia,Alfalfa meal and pellets,1000 US$,740,9697,63788,435828,0.0,0.0,43495.0,...,33200.0,26353.0,32278.0,25326.0,24106.0,23972.0,38492.0,27426.0,26865.0,20761.0
1,Australia,Alfalfa meal and pellets,tonnes,740,9697,63788,434940,0.0,0.0,299547.0,...,120320.0,112295.0,118205.0,86004.0,77035.0,73651.0,97313.0,84705.0,81104.0,87819.0
2,Australia,Almonds shelled,1000 US$,1090,14394,25179,634398,5739.0,3757.0,4001.0,...,46337.0,57959.0,91621.0,81914.0,110531.0,239393.0,307820.0,418806.0,263001.0,219906.0
3,Australia,Almonds shelled,tonnes,1090,14394,25179,633090,2013.0,839.0,1137.0,...,10198.0,14718.0,17525.0,17533.0,22648.0,34807.0,41593.0,46702.0,43450.0,38245.0
4,Australia,"Almonds, with shell",1000 US$,700,9756,15470,409440,358.0,0.0,248.0,...,29528.0,43555.0,27394.0,42187.0,59726.0,111591.0,102069.0,160022.0,97891.0,139039.0

In [60]:
items_by_country.loc[items_by_country['Reporter Countries']=='Australia',:].head(10)

,Reporter Countries,Item,Unit,Reporter Country Code,Partner Country Code,Item Code,Element Code,Y1986,Y1987,Y1988,...,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017
0,Australia,Alfalfa meal and pellets,1000 US$,740,9697,63788,435828,0.0,0.0,43495.0,...,33200.0,26353.0,32278.0,25326.0,24106.0,23972.0,38492.0,27426.0,26865.0,20761.0
1,Australia,Alfalfa meal and pellets,tonnes,740,9697,63788,434940,0.0,0.0,299547.0,...,120320.0,112295.0,118205.0,86004.0,77035.0,73651.0,97313.0,84705.0,81104.0,87819.0
2,Australia,Almonds shelled,1000 US$,1090,14394,25179,634398,5739.0,3757.0,4001.0,...,46337.0,57959.0,91621.0,81914.0,110531.0,239393.0,307820.0,418806.0,263001.0,219906.0
3,Australia,Almonds shelled,tonnes,1090,14394,25179,633090,2013.0,839.0,1137.0,...,10198.0,14718.0,17525.0,17533.0,22648.0,34807.0,41593.0,46702.0,43450.0,38245.0
4,Australia,"Almonds, with shell",1000 US$,700,9756,15470,409440,358.0,0.0,248.0,...,29528.0,43555.0,27394.0,42187.0,59726.0,111591.0,102069.0,160022.0,97891.0,139039.0
5,Australia,"Almonds, with shell",tonnes,700,9756,15470,408600,105.0,0.0,119.0,...,8940.0,15294.0,5914.0,10822.0,14493.0,21632.0,18362.0,24094.0,23882.0,30145.0
6,Australia,Animals live nes,1000 US$,890,12145,104219,522558,310.0,210.0,0.0,...,8762.0,7640.0,7764.0,0.0,24.0,0.0,0.0,2.0,0.0,0.0
7,Australia,Animals live nes,Head,890,12145,104219,521312,0.0,0.0,0.0,...,125816.0,93915.0,94669.0,0.0,315.0,2.0,0.0,0.0,0.0,0.0
8,Australia,"Animals, live, non-food",1000 US$,1280,16508,149632,746916,0.0,0.0,2589.0,...,209.0,59.0,106.0,4550.0,4268.0,3008.0,2928.0,3749.0,2319.0,3310.0
9,Australia,"Anise, badian, fennel, coriander",1000 US$,1240,16380,88164,715128,239.0,425.0,2136.0,...,4304.0,4067.0,4432.0,4801.0,5940.0,6331.0,6661.0,7692.0,6604.0,7928.0

In [64]:
items_by_country.loc[items_by_country['Reporter Countries']=='Australia','Item'].unique()

array(['Alfalfa meal and pellets', 'Almonds shelled',
       'Almonds, with shell', 'Animals live nes',
       'Animals, live, non-food', 'Anise, badian, fennel, coriander',
       'Apples', 'Apricots', 'Apricots, dry', 'Areca nuts', 'Artichokes',
       'Asparagus', 'Asses', 'Avocados', 'Bacon and ham', 'Bambara beans',
       'Bananas', 'Barley', 'Barley, pearled', 'Beans, dry',
       'Beans, green', 'Beehives', 'Beer of barley', 'Beeswax',
       'Beet pulp', 'Beverages, distilled alcoholic',
       'Beverages, non alcoholic', 'Bran, maize', 'Bran, wheat',
       'Brazil nuts, shelled', 'Bread', 'Broad beans, horse beans, dry',
       'Buckwheat', 'Buffaloes', 'Bulgur', 'Butter, cow milk',
       'Buttermilk, curdled, acidified milk',
       'Cabbages and other brassicas', 'Cake, copra', 'Cake, cottonseed',
       'Cake, groundnuts', 'Cake, linseed', 'Cake, maize',
       'Cake, palm kernel', 'Cake, rapeseed', 'Cake, soybeans',
       'Cake, sunflower', 'Camels', 'Canary seed', 'Carrots and turnips',
       'Cashew nuts, shelled', 'Cashew nuts, with shell', 'Cassava dried',
       'Cattle', 'Cauliflowers and broccoli', 'Cereal preparations nes',
       'Cereals, breakfast', 'Cheese, processed',
       'Cheese, whole cow milk', 'Cherries', 'Cherries, sour', 'Chestnut',
       'Chick peas', 'Chickens', 'Chillies and peppers, dry',
       'Chillies and peppers, green', 'Chocolate products nes',
       'Cider etc', 'Cigarettes', 'Cigars, cheroots',
       'Cinnamon (cannella)', 'Cloves', 'Cocoa, beans', 'Cocoa, butter',
       'Cocoa, paste', 'Cocoa, powder & cake', 'Coconuts',
       'Coconuts, desiccated', 'Cocoons, unreelable & waste',
       'Coffee, extracts', 'Coffee, green', 'Coffee, husks and skins',
       'Coffee, roasted', 'Coffee, substitutes containing coffee', 'Coir',
       'Copra', 'Cotton lint', 'Cotton linter', 'Cotton waste',
       'Cotton, carded, combed', 'Cottonseed', 'Cream fresh',
       'Crude materials', 'Cucumbers and gherkins', 'Currants', 'Dates',
       'Dregs from brewing, distillation', 'Eggplants (aubergines)',
       'Eggs, dried', 'Eggs, hen, in shell', 'Eggs, liquid',
       'Eggs, other bird, in shell', 'Fat nes, prepared', 'Fat, cattle',
       'Fat, pigs', 'Fatty acids', 'Fatty substance residues',
       'Feed and meal, gluten', 'Feed supplements', 'Feed, compound nes',
       'Feed, vegetable products nes', 'Fibre crops nes', 'Figs dried',
       'Flax fibre and tow', 'Flax fibre raw', 'Flax tow waste',
       'Flour, cereals', 'Flour, maize', 'Flour, mustard',
       'Flour, potatoes', 'Flour, pulses', 'Flour, rice',
       'Flour, roots and tubers nes', 'Flour, wheat', 'Fonio',
       'Food prep nes', 'Food preparations, flour, malt extract',
       'Food wastes', 'Forage products', 'Fructose and syrup, other',
       'Fruit, cooked, homogenized preparations', 'Fruit, dried nes',
       'Fruit, fresh nes', 'Fruit, prepared nes',
       'Fruit, tropical fresh nes', 'Garlic', 'Germ, maize', 'Ginger',
       'Glucose and dextrose', 'Goats', 'Gooseberries',
       'Grapefruit (inc. pomelos)', 'Grapes', 'Grease incl. lanolin wool',
       'Groundnuts, prepared', 'Groundnuts, shelled', 'Hair, fine',
       'Hay (clover, lucerne,etc)', 'Hay (unspecified)',
       'Hazelnuts, shelled', 'Hazelnuts, with shell', 'Hides nes',
       'Hides, cattle, wet salted', 'Hides, horse, dry salted',
       'Honey, natural', 'Hops', 'Horses', 'Ice cream and edible ice',
       'Infant food', 'Juice, apple, concentrated',
       'Juice, apple, single strength', 'Juice, citrus, concentrated',
       'Juice, citrus, single strength', 'Juice, fruit nes',
       'Juice, grape', 'Juice, grapefruit',
       'Juice, grapefruit, concentrated', 'Juice, lemon, concentrated',
       'Juice, lemon, single strength', 'Juice, orange, concentrated',
       'Juice, orange, single strength', 'Juice, pineapple',
       'Juice, pineapple, concentrated', 'Juice, tomato', 'Jute',
       'Kiwi fruit', 'Kola nuts', 'Lactose', 'Lard',
       'Leeks, other alliaceous vegetables', 'Lemons and limes',
       'Lentils', 'Lettuce and chicory', 'Linseed', 'Macaroni', 'Maize',
       'Malt', 'Mangoes, mangosteens, guavas', 'Manila fibre (abaca)',
       'Maple sugar and syrups', 'Margarine, short', 'MatÃ©', 'Meal, meat',
       'Meat nes', 'Meat, beef, preparations', 'Meat, cattle',
       'Meat, cattle, boneless (beef & veal)', 'Meat, chicken',
       'Meat, chicken, canned', 'Meat, dried nes', 'Meat, duck',
       'Meat, game', 'Meat, goat', 'Meat, goose and guinea fowl',
       'Meat, horse', 'Meat, pig', 'Meat, pig sausages',
       'Meat, pig, preparations', 'Meat, pork', 'Meat, rabbit',
       'Meat, sheep', 'Meat, turkey', 'Melons, other (inc.cantaloupes)',
       'Milk, products of natural constituents nes', 'Milk, skimmed cow',
       'Milk, skimmed dried', 'Milk, whole condensed',
       'Milk, whole dried', 'Milk, whole evaporated',
       'Milk, whole fresh cow', 'Millet', 'Mixes and doughs', 'Molasses',
       'Mules', 'Mushrooms and truffles', 'Mushrooms, canned',
       'Mustard seed', 'Nutmeg, mace and cardamoms', 'Nuts nes',
       'Nuts, prepared (exc. groundnuts)', 'Oats', 'Oats rolled',
       'Offals, edible, cattle', 'Offals, liver chicken',
       'Offals, liver duck', 'Offals, liver geese',
       'Offals, pigs, edible', 'Offals, sheep,edible', 'Oil, boiled etc',
       'Oil, castor beans', 'Oil, citronella', 'Oil, coconut (copra)',
       'Oil, cottonseed', 'Oil, essential nes', 'Oil, groundnut',
       'Oil, linseed', 'Oil, maize', 'Oil, olive residues',
       'Oil, olive, virgin', 'Oil, palm', 'Oil, palm kernel',
       'Oil, rapeseed', 'Oil, safflower', 'Oil, sesame', 'Oil, soybean',
       'Oil, sunflower', 'Oil, vegetable origin nes',
       'Oils, fats of animal nes', 'Oilseeds nes', 'Olives',
       'Olives preserved', 'Onions, dry', 'Oranges', 'Papayas', 'Pastry',
       'Peaches and nectarines', 'Peanut butter', 'Pears', 'Peas, dry',
       'Peas, green', 'Pepper (piper spp.)', 'Persimmons', 'Pet food',
       'Pigeons, other birds', 'Pigs', 'Pineapples', 'Pineapples canned',
       'Pistachios', 'Plantains and others', 'Plums and sloes',
       'Plums dried (prunes)', 'Poppy seed', 'Potatoes',
       'Potatoes, frozen', 'Pumpkins, squash and gourds',
       'Pyrethrum, extraction', 'Quinces', 'Quinoa', 'Raisins',
       'Rapeseed', 'Rice - total  (Rice milled equivalent)',
       'Rice, broken', 'Rice, husked', 'Rice, milled',
       'Roots and tubers nes', 'Rubber natural dry', 'Rubber, natural',
       'Rye', 'Sesame seed', 'Sheep', 'Silk, raw',
       'Silk-worm cocoons, reelable', 'Skins, calve, wet salted',
       'Skins, sheep, dry salted', 'Skins, sheep, wet salted',
       'Skins, sheep, with wool', 'Sorghum', 'Soya sauce', 'Soybeans',
       'Spices nes', 'Spinach', 'Starch, cassava', 'Straw husks',
       'Strawberries', 'Sugar Raw Centrifugal', 'Sugar beet',
       'Sugar confectionery', 'Sugar nes', 'Sugar refined',
       'Sunflower seed', 'Sweet corn frozen',
       'Sweet corn prep or preserved', 'Sweet potatoes', 'Tallow',
       'Tangerines, mandarins, clementines, satsumas', 'Tea',
       'Tea, mate extracts', 'Tobacco products nes',
       'Tobacco, unmanufactured', 'Tomatoes', 'Tomatoes, paste',
       'Tomatoes, peeled', 'Triticale', 'Turkeys', 'Vanilla',
       'Vegetables in vinegar', 'Vegetables, canned nes',
       'Vegetables, dehydrated', 'Vegetables, fresh nes',
       'Vegetables, fresh or dried products nes', 'Vegetables, frozen',
       'Vegetables, homogenized preparations',
       'Vegetables, preserved nes', 'Vegetables, preserved, frozen',
       'Vegetables, temporarily preserved', 'Vermouths & similar',
       'Wafers', 'Walnuts, shelled', 'Walnuts, with shell', 'Watermelons',
       'Waters,ice etc', 'Waxes vegetable', 'Wheat', 'Whey, dry', 'Wine',
       'Wool, degreased', 'Wool, greasy', 'Wool, hair waste',
       'Yoghurt, concentrated or not'], dtype=object)

In [74]:
# Count number of unique items exported by each of the reporter countries, store results in a dictionary
num_items = []
countries = []

for country in items_by_country['Reporter Countries'].unique():
    itemcount = len(items_by_country.loc[items_by_country['Reporter Countries']==country,'Item'].unique())
    num_items.append(itemcount)
    countries.append(country)
itemscount_by_country = dict(zip(countries,num_items))

In [77]:
itemscount_by_country

{'Australia': 359,
 'Cook Islands': 295,
 'Fiji': 336,
 'French Polynesia': 337,
 'Kiribati': 279,
 'New Caledonia': 332,
 'New Zealand': 353,
 'Papua New Guinea': 342,
 'Solomon Islands': 313,
 'Tonga': 319,
 'Tuvalu': 235,
 'Vanuatu': 326}

### Count trading partners per country

In [130]:
partners_by_country = trade.groupby(['Reporter Countries','Partner Countries','Unit']).sum()

In [131]:
partners_by_country.head()

                                               Reporter Country Code  \
Reporter Countries Partner Countries Unit
Australia          Afghanistan       1000 US$                    670
                                     Head                         10
                                     tonnes                      660
                   Albania           1000 US$                    360
                                     tonnes                      360

                                               Partner Country Code  \
Reporter Countries Partner Countries Unit
Australia          Afghanistan       1000 US$                   134
                                     Head                         2
                                     tonnes                     132
                   Albania           1000 US$                   108
                                     tonnes                     108

                                               Item Code  Element Code  Y1986  \
Reporter Countries Partner Countries Unit
Australia          Afghanistan       1000 US$      42794        389874    0.0
                                     Head           1107          5908    0.0
                                     tonnes        41687        383160    0.0
                   Albania           1000 US$      28004        209892   58.0
                                     tonnes        28004        209460   33.0

                                               Y1987  Y1988   Y1989   Y1990  \
Reporter Countries Partner Countries Unit
Australia          Afghanistan       1000 US$    0.0    0.0   206.0   561.0
                                     Head        0.0    0.0     0.0     0.0
                                     tonnes      0.0    0.0  1103.0  2369.0
                   Albania           1000 US$    4.0    0.0     0.0     1.0
                                     tonnes      0.0    0.0     0.0     0.0

                                               Y1991  ...  Y2008   Y2009  \
Reporter Countries Partner Countries Unit             ...
Australia          Afghanistan       1000 US$    1.0  ...  512.0  1477.0
                                     Head        0.0  ...    0.0     0.0
                                     tonnes      0.0  ...  199.0   219.0
                   Albania           1000 US$    1.0  ...  734.0   975.0
                                     tonnes      0.0  ...  418.0   626.0

                                                Y2010   Y2011   Y2012   Y2013  \
Reporter Countries Partner Countries Unit
Australia          Afghanistan       1000 US$  1701.0  1856.0   890.0  1764.0
                                     Head         0.0     0.0     0.0     0.0
                                     tonnes     816.0   345.0   243.0   541.0
                   Albania           1000 US$  1276.0  2921.0  1260.0  1049.0
                                     tonnes     578.0  2129.0   393.0   421.0

                                                Y2014   Y2015   Y2016   Y2017
Reporter Countries Partner Countries Unit
Australia          Afghanistan       1000 US$  2342.0  1559.0   743.0   184.0
                                     Head         0.0     0.0     0.0     0.0
                                     tonnes    1046.0   697.0   282.0   109.0
                   Albania           1000 US$  1146.0  1189.0  1288.0  1641.0
                                     tonnes     615.0  1006.0   865.0   759.0

[5 rows x 36 columns]

In [132]:
partners_by_country = partners_by_country.reset_index()

In [133]:
partners_by_country.head()

,Reporter Countries,Partner Countries,Unit,Reporter Country Code,Partner Country Code,Item Code,Element Code,Y1986,Y1987,Y1988,...,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017
0,Australia,Afghanistan,1000 US$,670,134,42794,389874,0.0,0.0,0.0,...,512.0,1477.0,1701.0,1856.0,890.0,1764.0,2342.0,1559.0,743.0,184.0
1,Australia,Afghanistan,Head,10,2,1107,5908,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Australia,Afghanistan,tonnes,660,132,41687,383160,0.0,0.0,0.0,...,199.0,219.0,816.0,345.0,243.0,541.0,1046.0,697.0,282.0,109.0
3,Australia,Albania,1000 US$,360,108,28004,209892,58.0,4.0,0.0,...,734.0,975.0,1276.0,2921.0,1260.0,1049.0,1146.0,1189.0,1288.0,1641.0
4,Australia,Albania,tonnes,360,108,28004,209460,33.0,0.0,0.0,...,418.0,626.0,578.0,2129.0,393.0,421.0,615.0,1006.0,865.0,759.0

In [134]:
reporter_countries = []
partners = []

for country in partners_by_country['Reporter Countries'].unique():
    partner = len(partners_by_country.loc[partners_by_country['Reporter Countries']== country,'Partner Countries'].unique())
    reporter_countries.append(country)
    partners.append(partner)
partnerscount_by_country = dict(zip(reporter_countries,partners))

In [135]:
partnerscount_by_country

{'Australia': 238,
 'Cook Islands': 53,
 'Fiji': 196,
 'French Polynesia': 176,
 'Kiribati': 71,
 'New Caledonia': 186,
 'New Zealand': 241,
 'Papua New Guinea': 138,
 'Solomon Islands': 105,
 'Tonga': 88,
 'Tuvalu': 37,
 'Vanuatu': 116}

In [136]:
# Sort dictionary by values in descending order
# return country name and value which has the maximum partner numbers and item numbers 
max_items = sorted(itemscount_by_country.items(),key=operator.itemgetter(1),reverse=True)[0]
print('Country with maximum exporting items:', max_items)

max_partners = sorted(partnerscount_by_country.items(),key=operator.itemgetter(1),reverse=True)[0]
print('Country with maximum partner numbers:', max_partners)

Country with maximum exporting items: ('Australia', 359)
Country with maximum partner numbers: ('New Zealand', 241)

### Checking missing values and outliers

In [127]:
items_by_country.isnull().sum().sum()

0

In [137]:
partners_by_country.isnull().sum().sum()

0